nav {
    margin: 0;
    padding: 0;
    background-color: var(--navBgColor);
    width: 100%;
}
.nav-item {
    float: top;
    transition: background-color linear 0.25s;
    border-bottom: 1px solid var(--navBorderColor);
}
.nav-item:last-child {
    border-bottom: 0;
}
.nav-item:hover {
    background-color: var(--navHoverColor);
}
.nav-item.active {
    background-color: var(--navActivColor);
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--fontColor);
    text-decoration: none;
    text-align: center;
}

/*Mobile Geräte*/
@media screen and (min-width: 300px) {

}
/*Tablets*/
@media screen and (min-width: 426px) {

}
/*Mobile Geräte & Tablets horizontal*/
@media screen and (min-width: 426px) and (min-aspect-ratio: 1/1) {

}
/*Laptop (klein)*/
@media screen and (min-width: 769px) {
    .nav-item {
        float: left;
        border-right: 2px solid  var(--navBorderColor);
        border-bottom: 0;
    }
    .nav-item:last-child {
        float: right;
        border-right: 0;
    }
}
/*Rechner*/
@media screen and (min-width: 1025px) {
    .nav-item {
        border-right: 3px solid  var(--navBorderColor);
    }
    .nav-link {
        padding: 0.5rem 1rem;
    }
}