::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: var(--scrollBgColor);
}
::-webkit-scrollbar-thumb {
    background: var(--scrollThumbColor);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollHoverColor);
}