:root {
    /* Navbar */
    --navBgColor: darkgrey;
    --navBorderColor: black;
    --navHoverColor: silver;
    --navActivColor: lightslategrey;
}

body {
    background-color: darkslategray;
    margin: 0;
}

nav {
    position: sticky;
    display: flex;

}

.wrapper {
    color: white;
    font-family: Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto 1fr;
    gap: 0 0;


}

.headline {
    grid-column: 1/4;
    grid-row: 1;
    -webkit-text-stroke: 2px black;
    text-align: center;
}

.text {
    grid-column: 2;
    grid-row: 2;
    padding: 1em;
    border-radius: 2em;
    background-color: rgb(31, 54, 54);
    margin-bottom: 1em;
}

.source {
    font-size: 8px;
    color: lightgray;
}

.example {
    padding: 1em;
    border-radius: 2em;
    background-color: rgb(31, 54, 54);
    text-align: center;

}

.row {
    grid-row: 3;
}

#example1 {
    margin-left: 0.5em;
    grid-row: 3;
    grid-column: 1;
    padding-bottom: 1em;
}

#example2 {
    margin-right: 0.5em;
    grid-row: 3;
    grid-column: 3;
    padding-bottom: 1em;
}

footer {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
    filter: blur();
}

#svgfilter:hover {
    filter: url(#blurfilter);
}

#HTMLfilter1:hover {
    filter: url(#blurfilter);
}

#svg1 {
    padding-bottom: 1em;
}
#HTMLfilter1 {
    padding-bottom: 1em;
}

#svg2:hover {
    filter: url(#colorfilter)
}

#HTMLfilter2:hover {
    filter: url(#colorfilter)
}