/*öfter oder in den anderen Dateien verwendete Farben in Variablen speichern.*/
:root {
    /* --index und SBG-- */
    --fontColor: hsl(0, 0%, 100%);
    --backgroundColor: hsl(240deg, 10%, 18.75%);
    --borderColor: hsl(0deg, 0%, 100%);

    /* --nav-- */
    --navBgColor: hsl(240deg, 10%, 35%);
    --navBorderColor: hsl(0deg, 0%, 100%);
    --navHoverColor: hsl(240deg, 10%, 15%);
    --navActivColor: hsl(120deg, 100%, 18.75%);

    /* --scrollbar-- */
    --scrollBgColor: hsl(240deg, 10%, 15%);
    --scrollThumbColor: hsl(240deg, 10%, 35%);
    --scrollHoverColor: hsl(0deg, 0%, 100%);
}
/*
Margin und Padding auf 0 zu setzen macht es einfacher die seite so zu design wie ich das möchte.
Font für alle Element einstellen.
*/
* {
    padding: 0;
    margin: 0;
    font-family: JetBrainsMono, monospace;
}

/*html und body height auf 100% setzen, damit der body immer den gesamten Anzeigebereich einnimmt.*/
html, body {
    height: 100%;
}

/*flex body zum positionieren vom nav, main und footer*/
body {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}
/*wenn benötigt nav styling hier*/
nav {

}
/*main padding für bessere Lesbarkeit*/
main {
    padding: 2rem 10%;
}
/*Seiten Überschrift und haupt Überschriften*/
h1 {
    margin-bottom: 1rem;
    text-align: center;
}

/* --index.html Style-- */
/*Einleitungstexte*/
.article-container {

}
.article-container article {
    margin: 2rem 0;
}
.article-container article h2 {
    margin-bottom: 1rem;
}
.article-container article p {

}
/*"Unsere Themen" Karten*/
#card-container {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}
#card-container .card {
    padding: 0.5rem;
    aspect-ratio: 2/1;
    border: 1px solid var(--borderColor);
    background: var(--backgroundColor);
    box-shadow: 1rem 1rem 1rem hsla(230deg, 10%, 10%, 0.75);
    color: var(--fontColor);
    text-decoration: none;
    overflow-wrap: anywhere;
}
#card-container .card:hover {
    border-width: 2px;
    box-shadow: 0.5rem 0.5rem 0.5rem hsla(230deg, 10%, 10%, 1);
}
#card-container .card h3 {
    margin-bottom: 1rem;
}
#card-container .card p {

}

/* --Smooth-Brain-Gang.html Style-- */
/*Mitgliederkarten*/
#SBG-container {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2rem;
}
#SBG-container .card {
    padding: 0.5rem;
    aspect-ratio: 2/1;
    border: 1px solid  var(--borderColor);
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem hsla(230deg, 10%, 10%, 0.75);
}
#SBG-container .card h2{
    margin-bottom: 1rem;
    text-align: center;
}
#SBG-container .card p{
    text-align: center;
}

/* --footer für beide Seiten-- */
footer {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    background-color: var(--backgroundColor);
    text-align: center;
}

/*Mobile Geräte*/
@media screen and (min-width: 300px) {
    :root {
        font-size: 13px;
    }
}
/*Tablets
    Umstellung der Beispiele auf 2-spaltige Design.
*/
@media screen and (min-width: 426px) {
    :root {
        font-size: 14px;
    }
    #card-container, #SBG-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
/*Laptop
    Umstellung der Beispiele auf 3-spaltige Design.
*/
@media screen and (min-width: 769px) {
    :root {
        font-size: 15px;
    }
    #card-container, #SBG-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
/*Rechner
    Umstellung der Beispiele auf 5-spaltige Design.
*/
@media screen and (min-width: 1025px) {
    :root {
        font-size: 16px;
    }
    #card-container, #SBG-container {
         grid-template-columns: repeat(5, 1fr);
         grid-template-rows: repeat(1, 1fr);
    }
}