:root {
    --fontColor: hsl(0deg, 0%, 100%);
    --backgroundColor: hsl(155, 23%, 21%);
    --borderColor: hsl(0deg, 0%, 100%);

    --contentBoxColor: hsl(0, 4%, 32%);
    --tabGroupColor: hsl(0, 0%, 12%);
    --boxBorderColor: hsl(0, 0%, 0%);
    --propertyBoxColor: hsl(240, 1%, 20%);
    --transparentBackplate: #6B6B6BAA;



    /* --nav-- */
    --navBgColor: hsl(291, 10%, 14%);
    --navBorderColor: hsl(0deg, 0%, 100%);
    --navHoverColor: hsl(240, 11%, 27%);
    --navActivColor: hsl(120deg, 100%, 18.75%);

    /* --scrollbar-- */
    --scrollBgColor: hsl(240deg, 10%, 15%);
    --scrollThumbColor: hsl(240deg, 10%, 35%);
    --scrollHoverColor: hsl(0deg, 0%, 100%);


    --buttonNormalColor: #236700;
    --buttonHoverColor: #17a10d;
    --buttonClickColor: #00540b;
    --buttonActiveColor: #128c8c;

    --tabGroupButtonNormalColor: hsl(0, 0%, 29%);
    --tabGroupButtonHoverColor: hsl(0, 0%, 39%);
    --tabGroupButtonClickColor: hsl(0, 0%, 14%);

    --iButtonNormalColor: #2222EE;
    --iButtonHoverColor: #4545ee;
    --iButtonClickColor: #1717ab;

    --closeButtonNormalColor: #d50707;
    --closeButtonHoverColor: #fd2727;
    --closeButtonClickColor: #c50000;

    --codeStringColor: #ff4141;
    --codeDynamicColor: #49eeee;
    --codeDynamicPropertyColor: #dec1c1;

}

/* General Formatting */
* {
    font-family: JetBrainsMono, monospace;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

main > * {
    margin: 1vw;
}

h1, h2 {
    margin-bottom: 1em;
}

article {
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "example code"
                         "properties description";
    grid-gap: 1vw;
}

.content-box {
    background-color: var(--contentBoxColor);
    padding: 1vw;
    border: 0.2vw solid var(--boxBorderColor);
    border-radius: 1vw;
}

#property-tab-group {
    background-color: var(--tabGroupColor);
    padding: 1vw;
    border: 0.2vw solid var(--boxBorderColor);
    border-radius: 1vw;
}

.example {
    grid-area: example;
    display:flex;
    align-content: center;
}
.example svg {
    display: block;
    margin: auto;
    max-height: 20vh;
}

.code {
    grid-area: code;
}

.properties {
    grid-area: properties;
}

.description {
    grid-area: description;
}

footer {
    background-color: var(--backgroundColor);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}

/* Button Formatting */
input[type="radio"] {
    display: none;
}

#property-tab-group {
    gap: 8px;
}
#property-tab-group label {
    flex-grow: 1;
    background-color: var(--tabGroupButtonNormalColor);
    border: 0.2vw solid var(--boxBorderColor);
    height: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
}
#property-tab-group label:hover {
    background-color: var(--tabGroupButtonHoverColor);
}
#property-tab-group label:active {
    background-color: var(--tabGroupButtonClickColor);
}

.show-code {
    grid-area: show-code;
    display: flex;
    align-items: center;
}

.selector-group {
    background-color: var(--propertyBoxColor);
    border: 0.2vw solid var(--boxBorderColor);
    margin: 1vw;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
}
.selector-group > div {
    display: flex;
    flex-wrap: wrap;
}

.selector-label {
    flex-basis: 10%;
    flex-grow: 1;
    min-width: 5em;
    align-content: center;
}

.selector-i {
    flex-basis: 10%;
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-content: center;
}
.selector-i label {
    display: flex;
    background-color: var(--iButtonNormalColor);
    border-radius: 100%;
    border: 0.2vw solid var(--boxBorderColor);
    width: 2em;
    height: 2em;
    justify-content: center;
    align-content: center;
}
.selector-i label:hover {
    background-color: var(--iButtonHoverColor);
}
.selector-i label:active {
    background-color: var(--iButtonClickColor);
}

.selector-buttons {
    flex-basis: 50%;
    flex-grow: 4;
    display:flex;
    gap: 3px;
    justify-content: center;
}
.selector-buttons label {
    display: flex;
    background-color: var(--buttonNormalColor);
    border: 0.2vw solid var(--boxBorderColor);
    align-content: center;
    justify-content: center;
    width: 6em;
    height: 2em;
}
.selector-buttons label:hover {
    background-color: var(--buttonHoverColor);
}
.selector-buttons label:active {
    background-color: var(--buttonClickColor);
}

.button {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}


/* Code Formatting */
.code-frame {
    user-select: all;
}

code span {
    white-space: nowrap;
    overflow: scroll;
}
.code-layer {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}
.code-string {
    color: var(--codeStringColor);
}

.code-dynamic-text {
    color: var(--codeDynamicColor);
}
.code-dynamic-property {
    color: var(--codeDynamicPropertyColor);
}

.code-min {
    font-size: 0;
}

.code-min::before {
    content: "[...]";
    font-size: medium;
}

.code-min:hover {
    font-size: medium;
    white-space: break-spaces;
}
.code-min:hover::before {
    content: "";
}



/* Display Property Tabs */
article {
    display: none;
}
#property-tab-paint:checked ~ #paint,
#property-tab-basic:checked ~ #basic,
#property-tab-linecaps:checked ~ #linecaps,
#property-tab-dash:checked ~ #dash
{
    display: grid;
}


/* Display Code */
.code-dynamic-text, .code-dynamic-property {
    display:none;
}
#paint-fill-white:checked ~ * #paint-code-fill-white-text,
#paint-fill-black:checked ~ * #paint-code-fill-black-text,
#paint-fill-green:checked ~ * #paint-code-fill-green-text,
#paint-fill-blue:checked ~ * #paint-code-fill-blue-text,

#paint-stroke-white:checked ~ * #paint-code-stroke-white-text,
#paint-stroke-black:checked ~ * #paint-code-stroke-black-text,
#paint-stroke-green:checked ~ * #paint-code-stroke-green-text,
#paint-stroke-blue:checked ~ * #paint-code-stroke-blue-text,


#basic-fillrule-nonzero:checked ~ * #basic-code-fillrule-nonzero-text,
#basic-fillrule-evenodd:checked ~ * #basic-code-fillrule-evenodd-text,

#basic-strokewidth-10:checked ~ * #basic-code-strokewidth-10-text,
#basic-strokewidth-20:checked ~ * #basic-code-strokewidth-20-text,
#basic-strokewidth-5pc:checked ~ * #basic-code-strokewidth-5pc-text,
#basic-strokewidth-10pc:checked ~ * #basic-code-strokewidth-10pc-text,

#basic-fillopacity-p5:checked ~ * #basic-code-fillopacity-p5-text,
#basic-fillopacity-80pc:checked ~ * #basic-code-fillopacity-80pc-text,
#basic-fillopacity-1:checked ~ * #basic-code-fillopacity-1-text,

#basic-strokeopacity-p5:checked ~ * #basic-code-strokeopacity-p5-text,
#basic-strokeopacity-80pc:checked ~ * #basic-code-strokeopacity-80pc-text,
#basic-strokeopacity-1:checked ~ * #basic-code-strokeopacity-1-text,

#linecaps-strokelinecap-butt:checked ~ * #linecaps-code-strokelinecap-butt-text,
#linecaps-strokelinecap-round:checked ~ * #linecaps-code-strokelinecap-round-text,
#linecaps-strokelinecap-square:checked ~ * #linecaps-code-strokelinecap-square-text,

#linecaps-strokelinejoin-miterlimit-1:checked ~ * #linecaps-code-strokelinejoin-miter-text,
#linecaps-strokelinejoin-miterlimit-2:checked ~ * #linecaps-code-strokelinejoin-miter-text,
#linecaps-strokelinejoin-miterlimit-4:checked ~ * #linecaps-code-strokelinejoin-miter-text,
#linecaps-strokelinejoin-miterlimit-8:checked ~ * #linecaps-code-strokelinejoin-miter-text,
#linecaps-strokelinejoin-round:checked ~ * #linecaps-code-strokelinejoin-round-text,
#linecaps-strokelinejoin-bevel:checked ~ * #linecaps-code-strokelinejoin-bevel-text,

#linecaps-strokelinejoin-miterlimit-1:checked ~ * #linecaps-code-strokemiterlimit-1-text,
#linecaps-strokelinejoin-miterlimit-2:checked ~ * #linecaps-code-strokemiterlimit-2-text,
#linecaps-strokelinejoin-miterlimit-4:checked ~ * #linecaps-code-strokemiterlimit-4-text,
#linecaps-strokelinejoin-miterlimit-8:checked ~ * #linecaps-code-strokemiterlimit-8-text,

#linecaps-strokelinejoin-miterlimit-1:checked ~ * #linecaps-code-strokemiterlimit-property-text,
#linecaps-strokelinejoin-miterlimit-2:checked ~ * #linecaps-code-strokemiterlimit-property-text,
#linecaps-strokelinejoin-miterlimit-4:checked ~ * #linecaps-code-strokemiterlimit-property-text,
#linecaps-strokelinejoin-miterlimit-8:checked ~ * #linecaps-code-strokemiterlimit-property-text,

#dash-strokedasharray-1:checked ~ * #dash-code-strokedasharray-1-text,
#dash-strokedasharray-2:checked ~ * #dash-code-strokedasharray-2-text,
#dash-strokedasharray-3:checked ~ * #dash-code-strokedasharray-3-text,
#dash-strokedasharray-4:checked ~ * #dash-code-strokedasharray-4-text,
#dash-strokedasharray-5:checked ~ * #dash-code-strokedasharray-5-text,
#dash-strokedasharray-6:checked ~ * #dash-code-strokedasharray-6-text,
#dash-strokedasharray-7:checked ~ * #dash-code-strokedasharray-7-text,
#dash-strokedasharray-8:checked ~ * #dash-code-strokedasharray-8-text,
#dash-strokedasharray-9:checked ~ * #dash-code-strokedasharray-9-text,

#dash-strokedashoffset-1:checked ~ * #dash-code-strokedashoffset-1-text,
#dash-strokedashoffset-2:checked ~ * #dash-code-strokedashoffset-2-text,
#dash-strokedashoffset-3:checked ~ * #dash-code-strokedashoffset-3-text,
#dash-strokedashoffset-4:checked ~ * #dash-code-strokedashoffset-4-text
{
    display: inline;
}


/* Display Descriptions */
.description p {
    display: none;
}
#paint-description-fill:checked ~ * #paint-description-fill-text,
#paint-description-stroke:checked ~ * #paint-description-stroke-text,

#basic-description-fillrule:checked ~ * #basic-description-fillrule-text,
#basic-description-strokewidth:checked ~ * #basic-description-strokewidth-text,
#basic-description-fillopacity:checked ~ * #basic-description-fillopacity-text,
#basic-description-strokeopacity:checked ~ * #basic-description-strokeopacity-text,

#linecaps-description-strokelinecap:checked ~ * #linecaps-description-strokelinecap-text,
#linecaps-description-strokelinejoin:checked ~ * #linecaps-description-strokelinejoin-text,
#linecaps-description-strokemiterlimit:checked ~ * #linecaps-description-strokemiterlimit-text,

#dash-description-strokedasharray:checked ~ * #dash-description-strokedasharray-text,
#dash-description-strokedashoffset:checked ~ * #dash-description-strokedashoffset-text
{
    display: block;
}


/* Paint */
#paint .shape {
    transition: all 0.6s ease;
    fill: white;
    stroke: white;
}

#paint-fill-black:checked ~ .example .shape {
    fill: black;
}
#paint-fill-green:checked ~ .example .shape {
    fill: #289819;
}
#paint-fill-blue:checked ~ .example .shape {
    fill: #3faef8;
}

#paint-stroke-black:checked ~ .example .shape {
    stroke: black;
}
#paint-stroke-green:checked ~ .example .shape {
    stroke: #289819;
}
#paint-stroke-blue:checked ~ .example .shape {
    stroke: #3faef8;
}


/* Basic */
#basic .shape {
    transition: all 0.6s ease;
    fill-rule: nonzero;
    stroke-width: 10;
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

#basic-fillrule-evenodd:checked ~ .example .shape {
    fill-rule: evenodd;
}

#basic-strokewidth-20:checked ~ .example .shape {
    stroke-width: 20;
}
#basic-strokewidth-5pc:checked ~ .example .shape {
    stroke-width: 5%;
}
#basic-strokewidth-10pc:checked ~ .example .shape {
    stroke-width: 10%;
}

#basic-fillopacity-80pc:checked ~ .example .shape {
    fill-opacity: 80%;
}
#basic-fillopacity-1:checked ~ .example .shape {
    fill-opacity: 1.0;
}

#basic-strokeopacity-80pc:checked ~ .example .shape {
    stroke-opacity: 80%;
}
#basic-strokeopacity-1:checked ~ .example .shape {
    stroke-opacity: 1.0;
}

/* Linecaps */
#linecaps .shape {
    transition: 0.5s linear;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 1;
}

#linecaps-strokelinecap-round:checked ~ .example .shape {
    stroke-linecap: round;
}
#linecaps-strokelinecap-square:checked ~ .example .shape {
    stroke-linecap: square;
}

#linecaps-strokelinejoin-round:checked ~ .example .shape {
    stroke-linejoin: round;
}
#linecaps-strokelinejoin-bevel:checked ~ .example .shape {
    stroke-linejoin: bevel;
}

#linecaps-strokelinejoin-miterlimit-2:checked ~ .example .shape {
    stroke-miterlimit: 2;
}
#linecaps-strokelinejoin-miterlimit-4:checked ~ .example .shape {
    stroke-miterlimit: 4;
}
#linecaps-strokelinejoin-miterlimit-8:checked ~ .example .shape {
    stroke-miterlimit: 8;
}

/* Dash */
#dash .shape {
    transition: 0.9s linear;
    stroke-dasharray: 5 1;
    stroke-dashoffset: 0;
}

#dash-strokedasharray-2:checked  ~ .example .shape {
    stroke-dasharray: 5 2;
}
#dash-strokedasharray-3:checked  ~ .example .shape {
    stroke-dasharray: 1 8;
}
#dash-strokedasharray-4:checked  ~ .example .shape {
    stroke-dasharray: 8 2 1 2;
}
#dash-strokedasharray-5:checked  ~ .example .shape {
    stroke-dasharray: 9 1 2;
}
#dash-strokedasharray-6:checked  ~ .example .shape {
    stroke-dasharray: 5 5;
}
#dash-strokedasharray-7:checked  ~ .example .shape {
    stroke-dasharray: 5 5%;
}
#dash-strokedasharray-8:checked  ~ .example .shape {
    stroke-dasharray: 5% 5;
}
#dash-strokedasharray-9:checked  ~ .example .shape {
    stroke-dasharray: 5% 5%;
}

#dash-strokedashoffset-2:checked  ~ .example .shape {
    stroke-dashoffset: 3;
}
#dash-strokedashoffset-3:checked  ~ .example .shape {
    stroke-dashoffset: 10;
}
#dash-strokedashoffset-4:checked  ~ .example .shape {
    stroke-dashoffset: 10%;
}




/* Button Active State */
#property-tab-paint:checked ~ * label[for="property-tab-paint"],
#property-tab-basic:checked ~ * label[for="property-tab-basic"],
#property-tab-linecaps:checked ~ * label[for="property-tab-linecaps"],
#property-tab-dash:checked ~ * label[for="property-tab-dash"],

#paint-fill-white:checked ~ * label[for="paint-fill-white"],
#paint-fill-black:checked ~ * label[for="paint-fill-black"],
#paint-fill-green:checked ~ * label[for="paint-fill-green"],
#paint-fill-blue:checked ~ * label[for="paint-fill-blue"],

#paint-stroke-white:checked ~ * label[for="paint-stroke-white"],
#paint-stroke-black:checked ~ * label[for="paint-stroke-black"],
#paint-stroke-green:checked ~ * label[for="paint-stroke-green"],
#paint-stroke-blue:checked ~ * label[for="paint-stroke-blue"],

#paint-description-fill:checked ~ * label[for="paint-description-fill"],
#paint-description-stroke:checked ~ * label[for="paint-description-stroke"],

#basic-fillrule-nonzero:checked ~ * label[for="basic-fillrule-nonzero"],
#basic-fillrule-evenodd:checked ~ * label[for="basic-fillrule-evenodd"],

#basic-strokewidth-10:checked ~ * label[for="basic-strokewidth-10"],
#basic-strokewidth-20:checked ~ * label[for="basic-strokewidth-20"],
#basic-strokewidth-5pc:checked ~ * label[for="basic-strokewidth-5pc"],
#basic-strokewidth-10pc:checked ~ * label[for="basic-strokewidth-10pc"],

#basic-fillopacity-p5:checked ~ * label[for="basic-fillopacity-p5"],
#basic-fillopacity-80pc:checked ~ * label[for="basic-fillopacity-80pc"],
#basic-fillopacity-1:checked ~ * label[for="basic-fillopacity-1"],

#basic-strokeopacity-p5:checked ~ * label[for="basic-strokeopacity-p5"],
#basic-strokeopacity-80pc:checked ~ * label[for="basic-strokeopacity-80pc"],
#basic-strokeopacity-1:checked ~ * label[for="basic-strokeopacity-1"],

#basic-description-fillrule:checked ~ * label[for="basic-description-fillrule"],
#basic-description-strokewidth:checked ~ * label[for="basic-description-strokewidth"],
#basic-description-fillopacity:checked ~ * label[for="basic-description-fillopacity"],
#basic-description-strokeopacity:checked ~ * label[for="basic-description-strokeopacity"],

#linecaps-strokelinecap-butt:checked ~ * label[for="linecaps-strokelinecap-butt"],
#linecaps-strokelinecap-round:checked ~ * label[for="linecaps-strokelinecap-round"],
#linecaps-strokelinecap-square:checked ~ * label[for="linecaps-strokelinecap-square"],

#linecaps-strokelinejoin-miterlimit-1:checked ~ * #linecaps-strokelinejoin-miterlimit-label,
#linecaps-strokelinejoin-miterlimit-2:checked ~ * #linecaps-strokelinejoin-miterlimit-label,
#linecaps-strokelinejoin-miterlimit-4:checked ~ * #linecaps-strokelinejoin-miterlimit-label,
#linecaps-strokelinejoin-miterlimit-8:checked ~ * #linecaps-strokelinejoin-miterlimit-label,
#linecaps-strokelinejoin-round:checked ~ * label[for="linecaps-strokelinejoin-round"],
#linecaps-strokelinejoin-bevel:checked ~ * label[for="linecaps-strokelinejoin-bevel"],

#linecaps-strokelinejoin-miterlimit-1:checked ~ * label[for="linecaps-strokelinejoin-miterlimit-1"],
#linecaps-strokelinejoin-miterlimit-2:checked ~ * label[for="linecaps-strokelinejoin-miterlimit-2"],
#linecaps-strokelinejoin-miterlimit-4:checked ~ * label[for="linecaps-strokelinejoin-miterlimit-4"],
#linecaps-strokelinejoin-miterlimit-8:checked ~ * label[for="linecaps-strokelinejoin-miterlimit-8"],

#linecaps-description-strokelinecap:checked ~ * label[for="linecaps-description-strokelinecap"],
#linecaps-description-strokelinejoin:checked ~ * label[for="linecaps-description-strokelinejoin"],
#linecaps-description-strokemiterlimit:checked ~ * label[for="linecaps-description-strokemiterlimit"],

#dash-strokedasharray-1:checked ~ * label[for="dash-strokedasharray-1"],
#dash-strokedasharray-2:checked ~ * label[for="dash-strokedasharray-2"],
#dash-strokedasharray-3:checked ~ * label[for="dash-strokedasharray-3"],
#dash-strokedasharray-4:checked ~ * label[for="dash-strokedasharray-4"],
#dash-strokedasharray-5:checked ~ * label[for="dash-strokedasharray-5"],
#dash-strokedasharray-6:checked ~ * label[for="dash-strokedasharray-6"],
#dash-strokedasharray-7:checked ~ * label[for="dash-strokedasharray-7"],
#dash-strokedasharray-8:checked ~ * label[for="dash-strokedasharray-8"],
#dash-strokedasharray-9:checked ~ * label[for="dash-strokedasharray-9"],

#dash-strokedashoffset-1:checked ~ * label[for="dash-strokedashoffset-1"],
#dash-strokedashoffset-2:checked ~ * label[for="dash-strokedashoffset-2"],
#dash-strokedashoffset-3:checked ~ * label[for="dash-strokedashoffset-3"],
#dash-strokedashoffset-4:checked ~ * label[for="dash-strokedashoffset-4"],

#dash-description-strokedasharray:checked ~ * label[for="dash-description-strokedasharray"],
#dash-description-strokedashoffset:checked ~ * label[for="dash-description-strokedashoffset"]
{
    background-color: var(--buttonActiveColor);
}


/* Animations */
@keyframes popup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Small Screen Only */
@media screen and (max-width: 769px) {

    .description,
    #code-show:checked ~ * .code
    {
        display: grid;
        animation: popup 0.1s cubic-bezier(0.71, 0.99, 1, 0.4);
    }
    .code,
    #paint-description-none:checked ~ .description,
    #basic-description-none:checked ~ .description,
    #linecaps-description-none:checked ~ .description,
    #dash-description-none:checked ~ .description
    {
        display: none;
    }

    article {
        grid-template-areas: "example show-code"
                             "properties properties";
        grid-template-columns: auto min-content;
    }

    .description,
    .code
    {
        z-index: 4;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        grid-template-rows: minmax(5vw,max-content) min-content auto minmax(5vw,max-content);
        grid-template-columns: minmax(5vw,max-content) auto 4em minmax(5vw,max-content);
        grid-template-areas: ". . . ."
                             ". title close ."
                             ". window window ."
                             ". . . .";
        background-color: var(--transparentBackplate);
        border: none;
        border-radius: 0;
    }

    .description > *,
    .code > *
    {
        background-color: var(--contentBoxColor);
        border: 1px solid var(--boxBorderColor);
    }


    .close-inner {
        grid-area: close;
        background-color: var(--closeButtonNormalColor);
        font-size: 23px;
        font-family: monospace;
        padding: 10px;
        text-align: center;
    }
    .close-inner:hover {
        background-color: var(--closeButtonHoverColor);
    }
    .close-inner:active {
        background-color: var(--closeButtonClickColor);
    }


    .close-outer {
        grid-row: 1/5;
        grid-column: 1/5;
        z-index: -4;
        background-color: transparent;
        border: none;
    }
    .code-frame,
    .description-frame {
        grid-area: window;
        overflow-y: scroll;
        padding: 1em 1em 4em 1em;
    }

    .code > h2,
    .description > h2 {
        width: 100%;
        grid-area: title;
        text-align: center;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Large Screen Only */
@media screen and (min-width: 769px) {
    .compact-element {
        display: none;
    }
}