:root {
    --fontColor: hsl(0deg, 0%, 100%);
    --backgroundColor: hsl(155, 23%, 21%);
    --borderColor: hsl(0deg, 0%, 100%);

    /* --nav-- */
    --navBgColor: hsl(291, 10%, 14%);
    --navBorderColor: hsl(0deg, 0%, 100%);
    --navHoverColor: hsl(240, 11%, 27%);
    --navActivColor: hsl(120deg, 100%, 18.75%);

    /* --scrollbar-- */
    --scrollBgColor: hsl(240deg, 10%, 15%);
    --scrollThumbColor: hsl(240deg, 10%, 35%);
    --scrollHoverColor: hsl(0deg, 0%, 100%);


    --buttonNormalColor: #775511;
    --buttonHoverColor: #a68e8e;
    --buttonClickColor: #332d2d;
    --buttonActiveColor: #c0a55d;

}

* {
    padding: 0;
    margin: 0;
    font-family: JetBrainsMono, monospace;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}


/* Button Formatting */
input[type="radio"] {
    display: none;
}

.selector-group label {
    background-color: var(--buttonNormalColor);
}

.selector-group label:hover {
    background-color: var(--buttonHoverColor);
}

.selector-group label:active {
    background-color: var(--buttonClickColor);
}


/* Code Formatting */
.code-tag {
    font-weight: bolder;
}
.code-layer {
    margin-left: 2em;
    display: flex; flex-direction: column;
}
.code-string {
    font-weight: normal;
}


/* Display Property Tabs*/
article {
    display: none;
}
#property-tab-paint:checked ~ #paint,
#property-tab-basic:checked ~ #basic,
#property-tab-linecaps:checked ~ #linecaps,
#property-tab-dash:checked ~ #dash
{
    display: block;
}


/* Display Code */
.paint-code-dynamic-text {
    display:none;
}
#paint-fill-white:checked ~ * #paint-code-fill-white-text,
#paint-fill-black:checked ~ * #paint-code-fill-black-text,
#paint-fill-green:checked ~ * #paint-code-fill-green-text,
#paint-fill-blue:checked ~ * #paint-code-fill-blue-text,

#paint-stroke-white:checked ~ * #paint-code-stroke-white-text,
#paint-stroke-black:checked ~ * #paint-code-stroke-black-text,
#paint-stroke-green:checked ~ * #paint-code-stroke-green-text,
#paint-stroke-blue:checked ~ * #paint-code-stroke-blue-text
{
    display: inline;
}


/* Display Descriptions */
.description p {
    display: none;
}
#paint-description-fill:checked ~ * #paint-description-fill-text,
#paint-description-stroke:checked ~ * #paint-description-stroke-text
{
    display: block;
}


/*Paint*/
#paint .shape {
    transition: all 0.6s ease;
    fill: white;
    stroke: white;
}

#paint-fill-black:checked ~ .example .shape {
    fill: black;
}
#paint-fill-green:checked ~ .example .shape {
    fill: #289819;
}
#paint-fill-blue:checked ~ .example .shape {
    fill: #3faef8;
}

#paint-stroke-black:checked ~ .example .shape {
    stroke: black;
}
#paint-stroke-green:checked ~ .example .shape {
    stroke: #289819;
}
#paint-stroke-blue:checked ~ .example .shape {
    stroke: #3faef8;
}


/* Basic */
/*todo*/

/* Linecaps */
/*todo*/

/* Dash */
/*todo*/


/* Button Active State */
#property-tab-paint:checked ~ * label[for="property-tab-paint"],
#property-tab-basic:checked ~ * label[for="property-tab-basic"],
#property-tab-linecaps:checked ~ * label[for="property-tab-linecaps"],
#property-tab-dash:checked ~ * label[for="property-tab-dash"],

#paint-fill-white:checked ~ * label[for="paint-fill-white"],
#paint-fill-black:checked ~ * label[for="paint-fill-black"],
#paint-fill-green:checked ~ * label[for="paint-fill-green"],
#paint-fill-blue:checked ~ * label[for="paint-fill-blue"],

#paint-stroke-white:checked ~ * label[for="paint-stroke-white"],
#paint-stroke-black:checked ~ * label[for="paint-stroke-black"],
#paint-stroke-green:checked ~ * label[for="paint-stroke-green"],
#paint-stroke-blue:checked ~ * label[for="paint-stroke-blue"],

#paint-description-fill:checked ~ * label[for="paint-description-fill"],
#paint-description-stroke:checked ~ * label[for="paint-description-stroke"]
{
    background-color: var(--buttonActiveColor);
}


/* Show Code (Mobile Only)*/
.code {
    display: none;
}
#code-show:checked ~ * .code {
    display: block;
}

/* Show Description (Mobile Only)*/
.description {
    display: block;
}
#paint-description-none:checked ~ .description
{
    display: none;
}




/*Mobile Geräte*/
@media screen and (min-width: 300px) {

}
/*Tablets*/
@media screen and (min-width: 426px) {

}
/*Mobile Geräte & Tablets horizontal*/
@media screen and (min-width: 426px) and (min-aspect-ratio: 1/1) {

}
/*Laptop (klein)*/
@media screen and (min-width: 769px) {

}
/*Rechner*/
@media screen and (min-width: 1025px) {

}