:root {
    --fontColor: hsl(0deg, 0%, 100%);
    --backgroundColor: hsl(155, 23%, 21%);
    --borderColor: hsl(0deg, 0%, 100%);

    /* --nav-- */
    --navBgColor: hsl(291, 10%, 14%);
    --navBorderColor: hsl(0deg, 0%, 100%);
    --navHoverColor: hsl(240deg, 10%, 15%);
    --navActivColor: hsl(120deg, 100%, 18.75%);

    /* --scrollbar-- */
    --scrollBgColor: hsl(240deg, 10%, 15%);
    --scrollThumbColor: hsl(240deg, 10%, 35%);
    --scrollHoverColor: hsl(0deg, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    font-family: JetBrainsMono, monospace;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}

polygon {
    transition: all 0.5s linear;
    fill: #00AA55;
}

#paint:checked ~ * polygon {
    fill: #FF3333;
}

#basic:checked ~ * polygon {
    fill: #FFFFFF;
}



/*Mobile Geräte*/
@media screen and (min-width: 300px) {

}
/*Tablets*/
@media screen and (min-width: 426px) {

}
/*Mobile Geräte & Tablets horizontal*/
@media screen and (min-width: 426px) and (min-aspect-ratio: 1/1) {

}
/*Laptop (klein)*/
@media screen and (min-width: 769px) {

}
/*Rechner*/
@media screen and (min-width: 1025px) {

}