body {
    background-color: #161c2d;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
}

nav {
    position: sticky;
    text-align: center;
}


h1{
    margin-top:3rem;
    text-align: center;
    font-family: JetBrainsMono;
}

h2 {
    text-align: center;
    font-family: JetBrainsMono;
}

p {
    font-family: "JetBrainsMono";
    color: black;
}

.center {
   display: inline-block;
    text-align: center;
}

.description {
    text-align: center;
    border: 2px solid #CAFAFE;
    background-color: #659DBD;
    border-radius: 20px;
    width: 50%;
    margin: 1rem auto 0 auto;
    padding: 8px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto 1fr;
    align-content: center;
}
.content {
    text-align: center;
    margin-top:1rem;
}

.content:first-child {
    grid-row: 1;
    grid-column: 1/-1;
}

.content:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
}

.content:nth-child(3) {
    grid-row:2;
    grid-column: 3;
}

.content:nth-child(4) {
    grid-row:2;
    grid-column: 2;
}


.content-code {
    width: 320px;
    height: 200px;
    background-color: #2b2b35;
    text-align: center;
    margin: 1rem auto;
    color: white;
}

.content-code:first-child {
    grid-row:4;
    grid-column: 1;
}

.content-code:nth-child(2) {
    grid-row:4;
    grid-column: 2;
}

.content-code:nth-child(3) {
    grid-row:4;
    grid-column: 3;
}


#code {
    grid-row:3;
    grid-column: 1 /-1;
}

svg {
    border: 2px solid #CAFAFE;
    border-radius: 20px;
    background-color: #659DBD;
}

footer {
    text-align: center;
    margin-top:auto;
}
/* Der Rote Punkt bewegt sich von der einen Ecke zu der anderen */
.move {
    animation: move 5s infinite linear;
}

@keyframes move {
    60% {transform: translate(-240px, 240px);}
    100% {transform: translate(-240px, 240px);}
}

.fadeOut {
    animation: fadeOut 5s infinite;
}
/* Die Koordinaten x=280 und y=40 werden langsam ausgefaded */
@keyframes fadeOut {
    20% { opacity:1}
    50% {opacity:0;}
    100% {opacity:0;}
}

/* Die Koordinaten x=40 und y=280 werden langsam angezeigt */
.fadeIn {
    animation:fadeIn 5s infinite;
}

@keyframes fadeIn {
    0% { opacity:0}
    40% {opacity:0;}
    90% {opacity:1;}
}

/* Hier werden die drei Grünen Vierecke verändert */
.skew:hover {
    transform:skewY(20deg)
}

.rotate:hover{
    transform: rotate(45deg);
}

.scale:hover {
    transform: scale(1.4,1.4);
}
/* Hier durch werden alle Inhalte in den rechtecken von der Mitte aus verändert */
rect {
    transform-origin: center;
}

/* Anpassungen für Handy Version*/

@media all and (max-width: 650px) {

    h1 {
        font-size: 1.5rem;
    }

    .description {
        width: 310px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

}
/* Anpassungen für die Tablet Version */
@media all and (max-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  auto 1fr;
        align-content: center;
    }

    .content:nth-child(2) {
        grid-row: 2;
        grid-column: 1;
    }

    .content:nth-child(3) {
        grid-row:2;
        grid-column: 2;
    }

    .content:nth-child(4) {
        grid-row:3;
        grid-column: 1 / -1;
    }

    #code {
        grid-row:4;
        grid-column: 1 /-1;
    }

    .content-code:first-child {
        grid-row:5;
        grid-column: 1;
    }

    .content-code:nth-child(2) {
        grid-row:5;
        grid-column: 2;
    }

    .content-code:nth-child(3) {
        grid-row:6;
        grid-column: 2;
    }

}


