:root {
    --fontColor: hsl(0deg, 0%, 100%);
    --backgroundColor: hsl(240deg, 10%, 18.75%);
    --borderColor: hsl(0deg, 0%, 100%);

    /* --nav-- */
    --navBgColor: hsl(240deg, 10%, 35%);
    --navBorderColor: hsl(0deg, 0%, 100%);
    --navHoverColor: hsl(240deg, 10%, 15%);
    --navActivColor: hsl(120deg, 100%, 18.75%);

    /* --scrollbar-- */
    --scrollBgColor: hsl(240deg, 10%, 15%);
    --scrollThumbColor: hsl(240deg, 10%, 35%);
    --scrollHoverColor: hsl(0deg, 0%, 100%);

    /* --styling-- */
    --hrColor: hsl(240deg, 10%, 35%);

    --svgBgColor: hsl(240deg, 10%, 15%);
    --svgBorderColor: hsl(240deg, 10%, 35%);
}
* {
    padding: 0;
    margin: 0;
    font-family: JetBrainsMono, monospace;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}

nav {
    position: sticky;
}

main {
    padding: 2rem 10%;
}
h1 {
    margin-bottom: 1rem;
    text-align: center;
}
hr {
    border: 1px solid var(--hrColor);
    border-radius: 1px;
}

article {
    display: grid;
    padding: 2rem;
    grid-template-rows: 2rem 1fr;
    grid-gap: 1rem;
}
article:nth-child(4n - 4) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "headline svg" "text svg";
}
article:nth-child(4n - 2) {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "svg headline" "svg text";
}
article h2 {
    grid-area: headline;
}
article p {
    grid-area: text;
}
article svg {
    grid-area: svg;
    width: available;
    aspect-ratio: 1/1;
    background-color: var(--svgBgColor);
    border: 2px solid var(--svgBorderColor);
    border-radius: 1rem;
}

footer {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    background-color: var(--backgroundColor);
    text-align: center;
}

/*Mobile Geräte*/
@media screen and (min-width: 300px) {
    :root {
        font-size: 14px;
    }
}
/*Tablets*/
@media screen and (min-width: 426px) {

}
/*Mobile Geräte & Tablets horizontal*/
@media screen and (min-width: 426px) and (min-aspect-ratio: 1/1) {

}
/*Laptop (klein)*/
@media screen and (min-width: 769px) {

}
/*Rechner*/
@media screen and (min-width: 1025px) {
    :root {
        font-size: 16px;
    }
}