/*keyframes für die Beispiele.*/
@keyframes font-size-demo {
    0% { font-size: 0.5rem; }
    25% { font-size: 0.5rem; }
    100% { font-size: 1.5rem; }
}
@keyframes font-size-demo-reverse {
    0% {font-size: 1.5rem;}
    25% {font-size: 1.5rem;}
    100% {font-size: 0.5rem;}
}

@keyframes fill-demo {
    from {
        fill: hotpink;
    }
    to {
        fill: darkslateblue;
    }
}

@keyframes fill-opacity-demo {
    from {
        fill-opacity: 100%;
    }
    to {
        fill-opacity: 0;
    }
}

@keyframes color-demo {
    0% {color: hsl(0, 50%, 50%);}
    5% {color: hsl(18, 50%, 50%);}
    10% {color: hsl(36, 50%, 50%);}
    15% {color: hsl(54, 50%, 50%);}
    20% {color: hsl(72, 50%, 50%);}
    25% {color: hsl(90, 50%, 50%);}
    30% {color: hsl(108, 50%, 50%);}
    35% {color: hsl(126, 50%, 50%);}
    40% {color: hsl(144, 50%, 50%);}
    45% {color: hsl(162, 50%, 50%);}
    50% {color: hsl(180, 50%, 50%);}
    55% {color: hsl(198, 50%, 50%);}
    60% {color: hsl(216, 50%, 50%);}
    65% {color: hsl(234, 50%, 50%);}
    70% {color: hsl(252, 50%, 50%);}
    75% {color: hsl(270, 50%, 50%);}
    80% {color: hsl(288, 50%, 50%);}
    85% {color: hsl(306, 50%, 50%);}
    90% {color: hsl(324, 50%, 50%);}
    95% {color: hsl(342, 50%, 50%);}
    100% {color: hsl(360, 50%, 50%);}
}

/*öfter oder in den anderen Dateien verwendete Farben in Variablen speichern.*/
:root {
    /* --Diese Seite-- */
    --fontColor: hsl(0, 0%, 100%);
    --backgroundColor: hsl(240deg, 10%, 18.75%);
    --borderColor: hsl(0deg, 0%, 100%);

    --hrColor: hsl(240deg, 10%, 35%);

    --svgBgColor: hsl(240deg, 10%, 15%);
    --svgBorderColor: hsl(240deg, 10%, 35%);
    /* --nav-- */
    --navBgColor: hsl(240deg, 10%, 35%);
    --navBorderColor: hsl(0deg, 0%, 100%);
    --navHoverColor: hsl(240deg, 10%, 15%);
    --navActivColor: hsl(120deg, 100%, 18.75%);
    /* --scrollbar-- */
    --scrollBgColor: hsl(240deg, 10%, 15%);
    --scrollThumbColor: hsl(240deg, 10%, 35%);
    --scrollHoverColor: hsl(0deg, 0%, 100%);
}
/*
Margin und Padding auf 0 zu setzen macht es einfacher die seite so zu design wie ich das möchte.
Font für alle Element einstellen.
*/
* {
    padding: 0;
    margin: 0;
    font-family: JetBrainsMono, monospace;
}

/*html und body height auf 100% setzen, damit der body immer den gesamten Anzeigebereich einnimmt.*/
html, body {
    height: 100%;
}
/*flex body zum positionieren vom nav, main und footer*/
body {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}
/*wenn benötigt nav styling hier*/
nav {

}
/*main padding für bessere Lesbarkeit*/
main {
    padding: 2rem 10%;
}
/*Seiten Überschrift "Styling"*/
h1 {
    margin-bottom: 1rem;
    text-align: center;
}

/*Einleitungstext*/
#TopicIntroduction {
    margin-bottom: 1rem;
}

/*Abschnitte [Beispiele, Weitere Tags]*/
.topic {
    margin-bottom: 1rem;
}
.topic h2 {
    margin-bottom: 1rem;
}

/*Hervorheben der Eigenschaften*/
.propertyTag {
    padding: 0.2rem 0.4rem;
    line-height: 2rem;
    background-color: var(--svgBgColor);
    border: 1px solid var(--svgBorderColor);
    border-radius: 1rem;
    white-space: nowrap;
}

/*Bespiele*/
article {
    display: grid;
    padding: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: 2rem repeat(3, auto) 2px;
    grid-template-areas:
            "headline"
            "text"
            "svg"
            "code"
            "hr";
    grid-gap: 1rem;
}
article h2 {
    grid-area: headline;
}
article p {
    grid-area: text;
}
article code {
    grid-area: code;
    padding: 1rem;
    border: 1px solid var(--svgBorderColor);
    box-shadow: var(--svgBgColor) 0.5rem 0.5rem 0.5rem;
    white-space: nowrap;
    overflow-x: auto;
}
article svg {
    grid-area: svg;
    width: available;
    aspect-ratio: 2/1;
    background-color: var(--svgBgColor);
    border: 2px solid var(--svgBorderColor);
    border-radius: 1rem;
}
/*Trennlinie zwischen den Beispielen*/
article hr {
    grid-area: hr;
    border: 1px solid var(--hrColor);
    border-radius: 1px;
}

svg text {
    fill: var(--fontColor);
}

/*Farben für die bessere Darstellung vom Code*/
.cGreen {
    color: #84c170;
}
.cDarkGreen {
    color: #419a53;
}
.cRed {
    color: #ef596f;
}
.cOrange {
     color: #cf9964;
}
.cBlue{
    color: #3398da;
}
.cYellow {
    color: #d8b034;
}
/*Einrückung vom Code durch padding*/
.space {
    padding-left: 0.5rem;
}
.tab {
    padding-left: 2rem;
}
.tab2 {
    padding-left: 4rem;
}

/*styling und animation von den SVG's in den Beispielen*/
#font-size-demo {
    animation: font-size-demo 2.5s infinite alternate;
}
#font-size-demo-reverse {
    animation: font-size-demo-reverse 2.5s infinite alternate;
}

#direction-demo-ltr {
    direction: ltr;
}
#direction-demo-rtl {
    direction: rtl;
}

#fill-demo {
    animation: fill-demo 2.5s infinite alternate-reverse linear;
}

#fill-opacity-demo {
    animation: fill-opacity-demo 2.5s infinite alternate linear;
}

#color-demo {
    animation: color-demo 10s infinite;
}

#writing-mode-demo {
    writing-mode: tb;
}

/*footer ganz unten auf der Seite*/
footer {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    background-color: var(--backgroundColor);
    text-align: center;
}

/*Mobile Geräte*/
@media screen
and (min-width: 300px) {
    :root {
        font-size: 13px;
    }
}

/*Tablets*/
@media screen
and (min-width: 426px) {
    :root {
        font-size: 14px;
    }
}

/*Laptop
    Umstellung der Beispiele auf 2-spaltige Design.
    Abwechslung der Beispiel-layouts mit der "grid-odd" Klasse.
*/
@media screen
and (min-width: 769px) {
    :root {
        font-size: 15px;
    }
    article {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2rem auto 1fr 2px;
        grid-template-areas:
            "headline svg"
            "text svg"
            "code code"
            "hr hr";
    }
    article.grid-odd {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2rem auto 1fr 2px;
        grid-template-areas:
            "svg headline"
            "svg text"
            "code code"
            "hr hr";
    }
}

/*Rechner*/
@media screen and (min-width: 1025px) {
    :root {
        font-size: 16px;
    }
}